<a href="https://colab.research.google.com/github/gabrield03/Job-Posting-Analysis-and-Visualization/blob/main/DataProcessing/Processing1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

url_csv = 'https://raw.githubusercontent.com/gabrield03/Job-Posting-Analysis-and-Visualization/main/Datasets/DataScientist.csv'

jobs_df = pd.read_csv(
    url_csv,
    na_values=['-', -1]
  )
jobs_df.drop('Job Description', axis=1, inplace=True)
jobs_df

,Unnamed: 0,index,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,0,Senior Data Scientist,$111K-$181K (Glassdoor est.),3.5,Hopper\n3.5,"New York, NY","Montreal, Canada",501 to 1000 employees,2007.0,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,NaN,NaN
1,1,1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),4.5,Noom US\n4.5,"New York, NY","New York, NY",1001 to 5000 employees,2008.0,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,NaN,NaN
2,2,2,Data Science Manager,$111K-$181K (Glassdoor est.),NaN,Decode_M,"New York, NY","New York, NY",1 to 50 employees,NaN,Unknown,NaN,NaN,Unknown / Non-Applicable,NaN,True
3,3,3,Data Analyst,$111K-$181K (Glassdoor est.),3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ","Lyndhurst, NJ",201 to 500 employees,2019.0,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Zocdoc, Healthgrades",NaN
4,4,4,"Director, Data Science",$111K-$181K (Glassdoor est.),3.4,United Entertainment Group\n3.4,"New York, NY","New York, NY",51 to 200 employees,2007.0,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"BBDO, Grey Group, Droga5",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3904,3904,4375,AWS Data Engineer,$55K-$112K (Glassdoor est.),4.4,Tachyon Technologies\n4.4,"Dublin, OH","Irving, TX",201 to 500 employees,2011.0,Company - Private,IT Services,Information Technology,$10 to $25 million (USD),NaN,NaN
3905,3905,4376,Data Analyst Ã¢ Junior,$55K-$112K (Glassdoor est.),5.0,"Staffigo Technical Services, LLC\n5.0","Columbus, OH","Woodridge, IL",51 to 200 employees,2008.0,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),NaN,NaN
3906,3906,4377,Security Analytics Data Engineer,$55K-$112K (Glassdoor est.),3.8,"PDS Tech, Inc.\n3.8","Dublin, OH","Irving, TX",5001 to 10000 employees,1977.0,Company - Private,Staffing & Outsourcing,Business Services,$100 to $500 million (USD),NaN,NaN
3907,3907,4378,Security Analytics Data Engineer,$55K-$112K (Glassdoor est.),4.0,Data Resource Technologies\n4.0,"Dublin, OH","Omaha, NE",1 to 50 employees,NaN,Company - Private,Accounting,Accounting & Legal,Less than $1 million (USD),NaN,NaN
3908,3908,4379,Patient Safety Physician or Safety Scientist -...,$55K-$112K (Glassdoor est.),3.7,UCB\n3.7,"Slough, OH","Brussel, Belgium",5001 to 10000 employees,NaN,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$2 to $5 billion (USD),AbbVie,NaN

In [6]:
jobs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3909 entries, 0 to 3908
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         3909 non-null   int64
 1   index              3909 non-null   int64
 2   Job Title          3909 non-null   object
 3   Salary Estimate    3909 non-null   object
 4   Rating             3500 non-null   float64
 5   Company Name       3909 non-null   object
 6   Location           3909 non-null   object
 7   Headquarters       3669 non-null   object
 8   Size               3680 non-null   object
 9   Founded            2932 non-null   float64
 10  Type of ownership  3680 non-null   object
 11  Industry           3363 non-null   object
 12  Sector             3363 non-null   object
 13  Revenue            3680 non-null   object
 14  Competitors        1149 non-null   object
 15  Easy Apply         164 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 488.8+ KB